* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

h1 {
    color: #0ca8e6;
}

.titulo {
    margin: 20px;
    
}

.principal-section {
    display: flex;
    flex-direction: column;
    background-color: #c8a2c8;
    margin-left: 8px;
    height: 500px;
    width: 98.8%;
    border-top: solid 2px #0ca8e6;
}

.sei-lá {
    padding: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.titulo-section {
    font-size: 36px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-titulo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.categoria-videos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    z-index: 1;
}

img {
    height: 200px;
}